doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title Paint #{name}
    // Bootstrap
    link(href='/scr/css/bootstrap.min.css', rel='stylesheet')
    link(rel='stylesheet', href='/fontawesome/css/font-awesome.min.css')
    link(rel='stylesheet', href='/paint-styles.css')
  body
    .container#conhcanv
      .row.marg-top.marg-bottom
        .col-md-1
        .col-md-10
          a.btn.btn-success.marg-r(href="/user")
            span.glyphicon.glyphicon-user
            | Account
          button.btn.btn-default.bt5(onclick='stpen(1,this)', type='button')
            img(src="/s-4.png",width="24px",height="24px")
          button.btn.btn-default.bt5(onclick='stpen(5,this)', type='button')
            img(src="/s-3.png",width="24px",height="24px")
          button.btn.btn-default.marg-r.bt5(onclick='stpen(10,this)', type='button')
            img(src="/s-2.png",width="24px",height="24px")
          button.btn.btn-default.bt(onclick="stcol('white',this)", type='button')
            img(src="/col-w.png",width="24px",height="24px")
          button.btn.btn-default.bt(onclick="stcol('black',this)", type='button')
            img(src="/col-b.png",width="24px",height="24px")
          button.btn.btn-default.bt(onclick="stcol('red',this)", type='button')
            img(src="/col-r.png",width="24px",height="24px")
          button.btn.btn-default.marg-r.bt(onclick="stcol('eraser',this)", type='button')
            img(src="/eraser.png",width="24px",height="24px")
          //button#add_stbt.btn.btn-primary(type='button') add
          button.btn.btn-primary.marg-r(onclick="clearbs()", type='button') Clear
          button.btn.btn-default.marg-r(onclick="userssh()", type='button') Users
          .btn-group
            button.btn.btn-default.marg-r.dropdown-toggle(type='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
              | Theme 
              span.caret
            ul.dropdown-menu
              li
                a(onclick='settheme(1)', href='#') Paper
              li
                a(onclick='settheme(2)', href='#') Blueprint
              li
                a(onclick='settheme(3)', href='#') White
        .col-md-1
          //span
            | pen width : 
            span#pen_s 5
            | px;
            |         	pen color : 
            span#pen_c black
            | ;
      .row
        .col-md-12
          #boxc
            canvas#canv(width='800', height='700')

    #users.modal.fade(tabindex='-1', role='dialog')
      .modal-dialog
        .modal-content
          .modal-header
            button.close(type='button', data-dismiss='modal', aria-label='Close')
              span(aria-hidden='true') ×
            h4.modal-title Users on this board
          .modal-body
            ul#userlist.list-group
    script var board_id3 = "#{board_id}"
    script(src='/scr/jquery-2.1.4.min.js')
    script(src='/scr/js/bootstrap.min.js')
    script(src='/scr/sprintf.min.js')
    script(src='/socket.io/socket.io.js')
    script(src='/ws-client.js')
    script(src='/socket.js')
    script(src='/paint.js')
    script(src="/setTheme.js")
    script(src="/getUsersOnline.js")
