doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title Paint-h
    // Bootstrap
    link(href='scr/css/bootstrap.min.css', rel='stylesheet')
    link(rel='stylesheet', href='fontawesome/css/font-awesome.min.css')
    link(rel='stylesheet', href='bootstrap-customize-style.css')
    link(rel='stylesheet', href='paint-styles.css')
  body
    .container.marg-top
      .row
        .col-xs-1
        .col-xs-10
          .panel.panel-default
            .panel-heading
              h1.panel-title.registr-header Paint
            .panel-body
              img.dimg(src='/cat6.jpg')
              .text-center
                a(href='/login') Log In
              .text-center
                a(href='/register') Sign Up
        .col-xs-1
    script(src='scr/jquery-2.1.4.min.js')
    script(src='scr/js/bootstrap.min.js')
    script(src='scr/sprintf.min.js')
