doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title Paint Application
    // Bootstrap
    link(href='scr/css/bootstrap.min.css', rel='stylesheet')
    link(rel='stylesheet', href='fontawesome/css/font-awesome.min.css')
    link(rel='stylesheet', href='bootstrap-customize-style.css')
    link(rel='stylesheet', href='paint-styles.css')
  body
    .container.marg-top
      .row
        .col-xs-1
        .col-xs-10
          .panel.panel-default
            .panel-heading
              h1.panel-title.registr-header Login
            .panel-body
              form.form-horizontal(action='/login',method='post')
                fieldset
                  // Text input
                  .form-group
                    label.col-md-4.control-label(for='login') Login
                    .col-md-4
                      input#login.form-control.input-md(name='login', type='text', placeholder='Login', required='')
                  // Password input
                  .form-group
                    label.col-md-4.control-label(for='passw') Password
                    .col-md-4
                      input#passw.form-control.input-md(name='passw', type='password', placeholder='Password', required='')
                  .form-group
                    .col-md-4
                    .col-md-4
                      button#singlebutton.btn.btn-default.btn-block(type='submit') Sign In
              .text-center
                a(href='/register') Register
        .col-xs-1
    script(src='scr/jquery-2.1.4.min.js')
    script(src='scr/js/bootstrap.min.js')
    script(src='scr/sprintf.min.js')
