doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title Hello, #{name}
    // Bootstrap
    link(href='scr/css/bootstrap.min.css', rel='stylesheet')
    link(rel='stylesheet', href='fontawesome/css/font-awesome.min.css')
    link(rel='stylesheet', href='bootstrap-customize-style.css')
    link(rel='stylesheet', href='paint-styles.css')
  body
    .container.marg-top
      .row
        .col-xs-1
        .col-xs-10
          .panel.panel-default
            .panel-heading
              h1.panel-title.registr-header
                | Hello, 
                span #{name}
                span.pull-right
                  a(href='/logout') Logout
            .panel-body
              .panel.panel-default
                .panel-heading
                  h1.panel-title.registr-header
                    span.glyphicon.glyphicon-star
                    | Profile
                .panel-body
                  form.form-horizontal
                    fieldset
                      .form-group
                        label.col-md-4.control-label(for='login') Login
                        .col-md-4
                          input.form-control.input-md(type='text', placeholder='Login', value="#{login}", readonly='')
                      .form-group
                        label.col-md-4.control-label(for='name') Name
                        .col-md-4
                          .input-group
                            input#change_n.form-control(type='text', placeholder='Name', value="#{name}",data-name-or="#{name}")
                            span.input-group-btn
                              button.btn.btn-default(type='button',onclick="changeName()") Change
                      .form-group
                        label.col-md-4.control-label(for='name') Email
                        .col-md-4
                          .input-group
                            input#change_g.form-control(type='text', placeholder='Email', value="#{email}",data-email-or="#{email}")
                            span.input-group-btn
                              button.btn.btn-default(type='button',onclick="changeEmail()") Change
              .panel.panel-default
                .panel-heading
                  h1.panel-title.registr-header
                    span.glyphicon.glyphicon-star
                    | Trending
                .panel-body
                  ul#trending.list-group.marg-top
                    li.list-group-item
                      span.glyphicon.glyphicon-file  
                      |                             Main
                      a.btn.btn-xs.btn-success.pull-right.marg-r(href='/board/0675d943-39f5-417d-8284-437e107bceec')
                        span.glyphicon.glyphicon-share-alt  
                        |                                Join
              button.btn.btn-primary(type='button', data-toggle='modal', data-target='#create_board') Create Board
              ul#boards.list-group.marg-top
                li.list-group-item
                  span.glyphicon.glyphicon-file  
                  |                             Item 1
                  button.btn.btn-xs.btn-warning.pull-right(type='button')
                    span.glyphicon.glyphicon-trash  
                    |                              Delete
                  button.btn.btn-xs.btn-success.pull-right.marg-r(type='button')
                    span.glyphicon.glyphicon-share-alt  
                    |                                Join
        .col-xs-1
    #create_board.modal.fade(tabindex='-1', role='dialog')
      .modal-dialog
        .modal-content
          .modal-header
            button.close(type='button', data-dismiss='modal', aria-label='Close')
              span(aria-hidden='true') ×
            h4.modal-title Create Board
          .modal-body
            // Text input
            .form-group
              label.control-label(for='board_name') Board Name
              input#board_name.form-control.input-md(type='text', placeholder='Board Name')
          .modal-footer
            button.btn.btn-default(type='button', data-dismiss='modal') Close
            button#create_boardbt.btn.btn-primary(type='button', data-dismiss='modal') Create Board
        // /.modal-content
      // /.modal-dialog
    // /.modal
    script(src='scr/jquery-2.1.4.min.js')
    script(src='scr/js/bootstrap.min.js')
    script(src='scr/sprintf.min.js')
    script(src='us.js')
