.marg-top {
    margin-top: 1em;
}

.marg-bottom {
    margin-bottom: 1em;
}

.marg-r {
    margin-right: 1em;
}

/*body {
    background-image: url('/chalkboard.jpg');
}*/

body {
    background-image: url(/strip36.png);
}

.dimg {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#canv {
    cursor: crosshair;
    border: 1px solid;
}

#boxc {
    position: relative;
    -webkit-user-select: none;
}

.box {
    position: absolute;
    width: 100px;
    height: 100px;
    left: 200px;
    top: 10px;
    background-color: black;
    opacity: 1;
/*    transition: opacity 1s;*/
    cursor: move;
}

.box {
    position: absolute;
    width: 100px;
    height: 100px;
    left: 200px;
    top: 10px;
    background-color: transparent;
    opacity: 1;
/*    transition: opacity 1s;*/
    cursor: move;
}

.boxb {
    position: absolute;
    left: 5px;
    top: 5px;
    right: 5px;
    bottom: 5px;
    background-color: rgba(0, 235, 255, 0.1);
    border: 2px solid rgba(0, 157, 255, 0.72);
    
    transition: All 0.1s;
}

.boxb:hover {
    background-color: rgba(0, 235, 255, 0.14);
}

.boxb:active {
    background-color: rgba(0, 235, 255, 0.5);
    box-shadow: 0px 0px 100px rgba(0, 235, 255, 0.4);
}

.fhandle-h {
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: red;
}

.fhandle-h {
    border-radius: 100%;
    background-color: rgba(0, 157, 255, 0.72);
}

.fhandle-tl {
    top: 0px;
    left: 0px;
    cursor: nw-resize;
}

.fhandle-br {
    right: 0px;
    bottom: 0px;
    cursor: nw-resize;
}

.fhandle-bl {
    left: 0px;
    bottom: 0px;
    cursor: nesw-resize;
}

.fhandle-tr {
    right: 0px;
    top: 0px;
    cursor: nesw-resize;
}

.pointer-e-none {
    pointer-events: none;
}

.o-low {
    opacity: 0.1;
}

.o-high {
    opacity: 1;
}